# ignore
.DS_Store
*.pyc
*.bak
.idea
.project
.pydevproject
env
client
app/env
changelog.txt
app/project/local_settings.py
app/smedia
*db.sqlite3
app/logs
app/media
app/components
app/static
app/site-static/css
app/site-static/.sass-cache
app/reports
app/device_data
app/dev
app/env
app/static/CACHE
app/celerybeat-schedule.db

doc/_build
util/remote_to_local.conf